@tailwind base;
@tailwind components;
@tailwind utilities;

.row-even {
  background-color: #ffffff;
}

.row-odd {
  background-color: #f0f0f0;
}
.red {
  background-color: #ff0000;
}

.custom-table .ant-table-thead > tr > th {
  background-color: #3071b9; /* Màu nền của bạn */
}
