@tailwind base;
@tailwind components;
@tailwind utilities;

.row-even {
  background-color: #ffffff;
}

.row-odd {
  background-color: #f0f0f0;
}

.custom-table .ant-table-thead > tr > th {
  background-color: rgba(59, 130, 246, 2); /* Màu nền của bạn */
  height: 20px; /* Thay đổi kích thước hàng tại đây */
  line-height: 20px; /* Đảm bảo lineHeight tương ứng với height */
}

.custom-table .ant-table-tbody > tr > td {
  padding: 0 5px;
  margin: auto;
  height: 60px; /* Thay đổi kích thước hàng tại đây */
  line-height: 40px; /* Đảm bảo lineHeight tương ứng với height */
}
.custom-table .ant-table-tbody > tr > td > div {
  margin: auto;
}
