@tailwind base;
@tailwind components;
@tailwind utilities;

.row-even {
  background-color: #ffffff;
}

.row-odd {
  background-color: #f0f0f0;
}

.custom-table .ant-table-thead > tr > th {
  background-color: rgba(59, 130, 246, 2); /* Màu nền của bạn */
  height: 20px; /* Thay đổi kích thước hàng tại đây */
  line-height: 20px; /* Đảm bảo lineHeight tương ứng với height */
}

.custom-table .ant-table-tbody > tr > td {
  padding: 0 5px;
  margin: auto;
  height: 60px; /* Thay đổi kích thước hàng tại đây */
  line-height: 40px; /* Đảm bảo lineHeight tương ứng với height */
}
.custom-table .ant-table-tbody > tr > td > div {
  margin: auto;
}

.sidebar-fixed {
  position: fixed;
  top: 0; /* Đặt cố định ở đầu trang */
  left: 0; /* Đặt cố định ở bên trái */
  width: 250px; /* Giả sử chiều rộng của Sidebar là 250px */
  height: 100%; /* Đặt chiều cao bằng với chiều cao của viewport */
  overflow-y: auto; /* Cho phép cuộn nếu nội dung dài */
}